.AppModule {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: white;
  padding: 1rem;
  box-sizing: border-box;
}

.AppModuleSplash {
  background: #2e3192;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.AppModuleMargin {
  padding-top: 60px;
}