.OptionItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 4px;
  background: white;
  color: #2e3192;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color ease 0.3s;
  border: 0;
}

.OptionItemIcon {
  border: 2px solid #2e3192;
  border-radius: 30px;
  padding: 8px;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

*:focus {
  outline: 0 !important;
}

.OptionItem:enabled:hover,
.OptionItem:active {
  background: #2e319220;
  text-decoration: none;
}

.OptionItem:disabled {
  cursor: not-allowed;
  color: #bbb;
  opacity: 0.8;
}

.OptionItem:disabled .OptionItemIcon {
  background: #eee;
  border: 2px solid #bbb;
}

.OptionItem span {
  font-size: 10px;
  margin-top: 6px;
}