.BubbleHolder {
  display: flex;
  opacity: 0;
  animation: fillIn 0.5s linear 0s 1 forwards;
}

.BubbleHolder:nth-child(1) { animation-delay: 1s }
.BubbleHolder:nth-child(2) { animation-delay: 2s }
.BubbleHolder:nth-child(3) { animation-delay: 3s }
.BubbleHolder:nth-child(4) { animation-delay: 4s }
.BubbleHolder:nth-child(5) { animation-delay: 5s }
.BubbleHolder:nth-child(6) { animation-delay: 6s }

@keyframes fillIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.BubbleHolderLeft {
  justify-content: flex-start;
}

.BubbleHolderRight {
  justify-content: flex-end;
}

.Bubble {
  position: relative;
  display: inline-block;
  width: auto;
  padding: 8px 12px;
	margin: 0 16px 16px;
  text-align: left;
  border: 1px solid white;
	background-color: #f8f8f8;
  border-radius: 16px;
}

.BubbleLeft:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -16px;
	right: auto;
  top: -1px;
	bottom: auto;
	border: 16px solid;
	border-color: white transparent transparent transparent;
}

.BubbleLeft:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -14px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 16px solid;
	border-color: #f8f8f8 transparent transparent transparent;
}

.BubbleRight {
	background-color: #ddd;
}

.BubbleRight:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -16px;
  top: -1px;
	bottom: auto;
	border: 16px solid;
	border-color: white transparent transparent transparent;
}

.BubbleRight:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -14px;
  top: 0px;
	bottom: auto;
	border: 16px solid;
	border-color: #ddd transparent transparent transparent;
}