.SelectionItem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto 0;
  padding: 1rem;
  margin: 1rem 0.5rem;
  padding: 8px;
  width: calc(100% - 16px);
  height: 48px;
  /* width: 280px; */
  background: #22b3fa;
  background: white;
  color: #2e3192;
  border: 2px solid #2e3192;
  font-weight: 700;
  border-radius: 24px;
  text-decoration: none;
  cursor: pointer;
  box-sizing: border-box;
  transition: background-color ease 0.3s;
}

*:focus {
  outline: 0 !important;
}

.SelectionItem:enabled:hover,
.SelectionItem:active {
  color: #4549cf;
  border-color: #4549cf;
  text-decoration: none;
}

.SelectionItem:disabled {
  cursor: not-allowed;
  background: #eee;
  border-color: #bbb;
  color: #bbb;
  opacity: 0.5;
}
