.AppHeaderDate {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 10px;
}

.AppHeaderDateIcon {
  color: #2e3192;
  background: white;
  border-radius: 16px;
  height: 16px;
  width: 16px;
  font-size: 10px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AppHeaderDateItem {
  display: flex;
  align-items: center;
  margin: 4px 0;
}

@media only screen and (min-width: 600px) {
  .AppHeaderDate {
    flex-direction: row;
    font-size: 1rem;
  }

  .AppHeaderDateItem {
    margin: 0 1rem;
  }
}
