.AppMapArea {
  /* position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50vw;
  margin-top: -50vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  z-index: 99; */
}

.AppMapAreaS {
  fill: #eee;
}

.AppMapAreaM {
  fill: #ddd;
}

.AppMapAreaL {
  fill: #ccc;
}

.AppMapAreaXL {
  fill: #bbb;
}