.AppHeaderScore {
  position: absolute;
  left: calc(50vw - 32px);
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  box-sizing: border-box;
  border-radius: 0 0 36px 36px;
  background: white;
  color: black;
  /* border: 2px solid orange; */
  /* border-top: 0; */
}

.AppHeaderScore svg {
  color: orange;
  font-size: 36px;
}

.AppHeaderScore span {
  font-size: 10px;
}

.AppHeaderScore10 svg {
  color: #ff5400;
}

.AppHeaderScore15 svg {
  color: #ff7900;
}

.AppHeaderScore20 svg {
  color: #ffa500;
}

.AppHeaderScore25 svg {
  color: #ffc400;
}

.AppHeaderScore30 svg {
  color: #ffd800;
}

.AppHeaderScore35 svg {
  color: #c4d819;
}

.AppHeaderScore40 svg {
  color: #7bcd32;
}

.AppHeaderScore45 svg {
  color: #37b632;
}

.AppHeaderScore50 svg {
  color: #03a032;
}