.Backdrop {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -50vw;
  margin-top: -50vh;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  z-index: 99;
}

.BackdropShow {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease 0.1s, visibility 0s ease 0s;
}

.BackdropHide {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease 0.1s, visibility 0s ease 0.5s;
}

.BackdropSharp {
  transition: none;
}


.BackdropDeepBlack {
  background-color: black;
}

.BackdropBlack {
  background-color: #000000c0;
}

.BackdropWhite {
  background-color: white;
}

.BackdropBlue {
  background-color: #599ae4;
  background-color: #2e3192;
}

.BackdropTransparent {
  background-color: #ffffff00;
}