.AppHeader,
.AppHeaderSelect {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
}

.AppHeader {
  display: grid;
  grid-template-columns: 36px auto auto;
  grid-gap: 8px;
  align-content: center;
  align-items: center;
  justify-items: start;
  background: #2e3192;  
  color: white;
}
  
.AppHeaderSelect {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.AppHeaderSelectStars {
  display: flex;
  align-items: center;
}

.AppHeaderSelectStars span {
  margin-right: 4px;
}