.AppHeader {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100vw;
  padding: 1rem;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 36px auto auto;
  grid-gap: 8px;
  align-content: center;
  align-items: center;
  justify-items: start;
  background: #2e3192;  
  color: white;
}

.AppHeader {
  display: flex;
  justify-content: space-between;
}

.AppHeaderBuild::after {
  background: repeating-linear-gradient(-60deg, #000 0px, #000 10px, #ffcc00 10px, #ffcc00 20px);
  content: " ";
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
}