.AppProgress {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 150px;
  margin-right: 1rem;
  color: white;
  float: right;
  opacity: 0;
  animation: fillIn 0.5s linear 2.5s 1 forwards;
}

@keyframes fillIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}