.AppCost {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 20px 20px;
  align-content: center;
  column-gap: 1rem;
  /* border: 2px solid #2e3192; */
  /* border-radius: 16px; */
  width: 150px;
  margin: 0 auto;
}

.AppCostItem span {
  font-size: 10px;
  align-self: center;
  justify-self: center;
}
/* 
.AppCost div:nth-child(odd) {
  text-align: end;
}

.AppCost div:nth-child(even) {
  border: 2px solid #2e3192;
  background: #2e319220;
}

.AppCost div:nth-child(4),
.AppCost div:nth-child(6) {
  border-top: 0;
}

.AppCost div:nth-child(6) {
  background: #2e319250;
  border-radius: 0 0 16px 16px;
}

.AppCost div:nth-child(2) {
  border-radius: 16px 16px 0 0;
} */

.AppCost div:nth-child(5),
.AppCost div:nth-child(6) {
  color: #2e3192;
  font-weight: 700;
  /* border-top: 2px solid #2e3192; */
  /* background: #2e319220; */
}

.AppCost div:nth-child(odd) {
  text-align: end;
}

.AppCost div:nth-child(even) {
  text-align: start;
}