.AppMapAreaItemPopulation00 {
  fill: #f4f4f4;
}

.AppMapAreaItemPopulation05 {
  fill: hsl(0, 0%, 94%);
}

.AppMapAreaItemPopulation10 {
  fill: hsl(0, 0%, 92%);
}

.AppMapAreaItemPopulation15 {
  fill: hsl(0, 0%, 90%);
}

.AppMapAreaItemPopulation20 {
  fill: hsl(0, 0%, 88%);
}

.AppMapAreaItemPopulation25 {
  fill: hsl(0, 0%, 86%);
}

.AppMapAreaItemPopulation30 {
  fill: hsl(0, 0%, 84%);
}

.AppMapAreaItemPopulation40 {
  fill: hsl(0, 0%, 80%);
}

.AppMapAreaItemPopulation60 {
  fill: hsl(0, 0%, 76%);
}

.AppMapAreaItemPopulation75 {
  fill: hsl(0, 0%, 72%);
}

.AppMapAreaItemPopulation99 {
  fill: hsl(0, 0%, 68%);
}

.AppMapAreaItemSatisfaction10 {
  fill: #ff540080;
}

.AppMapAreaItemSatisfaction15 {
  fill: #ff763580;
}

.AppMapAreaItemSatisfaction20 {
  fill: #ffa68480;
}

.AppMapAreaItemSatisfaction25 {
  fill: #ffd6cd80;
}

.AppMapAreaItemSatisfaction30 {
  fill: #eeeeee;
}

.AppMapAreaItemSatisfaction35 {
  fill: #c0eadb80;
}

.AppMapAreaItemSatisfaction40 {
  fill: #7bd2a280;
}

.AppMapAreaItemSatisfaction45 {
  fill: #34b46080;
}

.AppMapAreaItemSatisfaction50 {
  fill: #03a03280;
}