.AppMapAreaItemPopulation00 {
  fill: hsl(0, 0%, 96%);
}

.AppMapAreaItemPopulation05 {
  fill: hsl(0, 0%, 94%);
}

.AppMapAreaItemPopulation10 {
  fill: hsl(0, 0%, 92%);
}

.AppMapAreaItemPopulation15 {
  fill: hsl(0, 0%, 90%);
}

.AppMapAreaItemPopulation20 {
  fill: hsl(0, 0%, 88%);
}

.AppMapAreaItemPopulation25 {
  fill: hsl(0, 0%, 86%);
}

.AppMapAreaItemPopulation30 {
  fill: hsl(0, 0%, 84%);
}

.AppMapAreaItemPopulation40 {
  fill: hsl(0, 0%, 80%);
}

.AppMapAreaItemPopulation60 {
  fill: hsl(0, 0%, 76%);
}

.AppMapAreaItemPopulation75 {
  fill: hsl(0, 0%, 72%);
}

.AppMapAreaItemPopulation99 {
  fill: hsl(0, 0%, 68%);
}

.AppMapAreaItemSatisfaction10 {
  fill: #ff540080;
}

.AppMapAreaItemSatisfaction15 {
  fill: #ff790080;
}

.AppMapAreaItemSatisfaction20 {
  fill: #ffa50080;
}

.AppMapAreaItemSatisfaction25 {
  fill: #ffc40080;
}

.AppMapAreaItemSatisfaction30 {
  fill: #ffd80080;
}

.AppMapAreaItemSatisfaction35 {
  fill: #c4d81980;
}

.AppMapAreaItemSatisfaction40 {
  fill: #7bcd3280;
}

.AppMapAreaItemSatisfaction45 {
  fill: #37b63280;
}

.AppMapAreaItemSatisfaction50 {
  fill: #03a03280;
}